<div class="col-md-12 py-2 container row m-0">
  <div class="col-md-3 p-1">
    <div class="col-md-12 p-0">
      <mat-toolbar color="primary">
        Salesman Records - Datewise
      </mat-toolbar>
      <div class="col-md-12 p-1 bg-white">
        <app-salesman-datewise></app-salesman-datewise>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-1">
    <div class="col-md-12 p-0">
      <mat-toolbar color="primary">
        Sales Records
      </mat-toolbar>
      <div class="col-md-12 p-1 bg-white">
        <app-stock-datewise></app-stock-datewise>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-1">
    <div class="col-md-12 p-0">
      <mat-toolbar color="primary">
        Stock Track
      </mat-toolbar>
      <div class="col-md-12 p-1 bg-white">
        <app-datewise-stock></app-datewise-stock>
      </div>
    </div>
  </div>
</div>