<div class="col-md-12 px-1">
  <mat-form-field class="col-md-12">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="getDate($event)" autocomplete="off">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="col-md-12 justify-content-end d-flex">
    <button *ngIf="salesList.length === 0" mat-raised-button disabled>
      <mat-icon class="vertical-align-middle mr-1">print</mat-icon>
      <span class="vertical-align-middle">Print</span>
    </button>
    <button *ngIf="salesList.length > 0" mat-raised-button color="accent" (click)="printSalesReport()">
      <mat-icon class="vertical-align-middle mr-1">print</mat-icon>
      <span class="vertical-align-middle">Print</span>
    </button>
  </div>
  <div class="vertical-scroll p-1 h-24_5r">
    <div *ngFor="let s of salesList" class="col-md-12 p-1">
      <div class="col-md-12 py-1 border rounded shadow">
        <div class="col-md-12 text-right">
          Mr. {{s.cName}}
        </div>
        <div class="col-md-12 text-right">
          <div class="col-md-12 p-0">
            <b>Total Deposit</b>: <small>{{s.deposit}}</small>
          </div>
          <div class="col-md-12 p-0">
            <b>Total Balance</b>: <small>{{s.balance}}</small>
          </div>
        </div>
        <div class="px-2 text-info font-weight-bold text-right">
          <small>
            {{getTime(s.date_time)}}
          </small>
        </div>
        <div *ngFor="let i of s.data" class="col-md-12 p-0">
          <div class="font-weight-bold">{{i.name}}</div>
          <div>Quantity: {{i.quantity}}</div>
          <div>Returned MT: {{i.returned}}</div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </div>
</div>