input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.fs-11r {
    font-size: 11rem!important;
}
.t-1r {
    top: 1rem;
}
.up-button {
    border-bottom: 20px solid #008800;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
}
.down-button {
    border-top: 20px solid #a50101;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
}
.br-25p {
    border-radius: 25px;
}
.hw-30p {
    height:30px;
    width:30px;
}
.overflow-visible {
    overflow: visible!important;
}
.fs-3r {
    font-size: 3rem;
}