<div class="col-md-12 p-2">
  <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile matRipple class="bg-success text-white cursor-pointer" (click)="makeASale()">
      <div class="m-0 col-md-12 text-center">
        <h1 class="col-md-12">
          Sell
        </h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile matRipple class="bg-white text-success cursor-pointer">
      <div class="m-0 col-md-12 text-center">
        <h1 class="col-md-12">
          Rent
        </h1>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>