<mat-toolbar color="primary">
  <mat-toolbar-row class="col-md-12 p-0">
    <div class="col-md-12 row m-0 p-0">
      <div class="col-md-3 pr-0">
        <img src="../assets/img/logo.png" class="header-logo vertical-align-middle" />
        <span>ULSERP&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;BEVERAGES</span>
      </div>
      <div class="col-md-9 p-0">
        <app-router-links></app-router-links>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="body-container col-md-12 py-1">
  <router-outlet></router-outlet>
</div>