<div class="col-md-12 py-2 row m-0">
  <div class="col-md-3 p-1">
    <div class="col-md-12 p-0">
      <mat-toolbar color="primary">
        ADD SALESMAN
      </mat-toolbar>
      <div class="col-md-12 p-1 bg-white h-24_5r">
        <app-create-salesman></app-create-salesman>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-1">
    <div class="col-md-12 p-0">
      <mat-toolbar color="primary">
        SALESMEN / CUSTOMERS
      </mat-toolbar>
      <div class="col-md-12 p-1 bg-white h-24_5r vertical-scroll">
        <app-salesman-list></app-salesman-list>
      </div>
    </div>
  </div>
</div>