<div class="col-md-12 p-1 row m-0">
    <div class="col-md-2 p-0">
        <app-home-col1></app-home-col1>
    </div>
    <div class="col-md-3 p-0">
        <div class="col-md-12 p-1">
            <div class="col-md-12 p-0">
                <mat-toolbar color="primary">
                    <span>INVENTORY</span>
                </mat-toolbar>
                <div class="col-md-12 py-3 bg-transp-blue vertical-scroll h-24_5r">
                    <app-inv-management></app-inv-management>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-0">
        <div class="col-md-12 p-1">
            <div class="col-md-12 p-0">
                <mat-toolbar color="primary">
                    <span>MT Accounts</span>
                </mat-toolbar>
                <div class="col-md-12 py-3 bg-transp-blue vertical-scroll h-24_5r">
                    <app-empty-accounts></app-empty-accounts>
                </div>
            </div>
        </div>
    </div>
</div>