<mat-toolbar color="primary" class="position-relative">
  <span>Customer Details</span>
  <button mat-mini-fab class="float-right position-absolute r-1r" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="col-md-12 row m-0 py-2">
  <div class="col-md-3">
    <div class="col-md-12 py-1">
      <div *ngIf="details.name">
        <small>
          <b>Name</b>:
        </small>
        <span>
          {{details.name}}
        </span>
      </div>
      <div>
        <small>
          <b>NIC</b>:
        </small>
        <span *ngIf="details.nic !== 0">
          {{details.nic.toString()}}
        </span>
        <span *ngIf="details.nic === 0">
          Not Provided
        </span>
      </div>
      <div>
        <small>
          <b>Contact No</b>:
        </small>
        <span *ngIf="details.contact_no !== 0">
          {{details.contact_no.toString()}}
        </span>
        <span *ngIf="details.contact_no === 0">
          Not Provided
        </span>
      </div>
    </div>
    <div class="col-md-12 bg-dark text-white px-2 row m-0 py-1">
      <div class="col-md-10 py-1">
        <span class="vertical-align-middle">
          H.Discounts
        </span>
      </div>
      <div class="col-md-2 py-1 justify-content-end">
        <button mat-mini-fab class="bg-white text-dark" (click)="editHDis()">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-12 p-0 row m-0">
      <div class="col-md-6 py-1 pr-0 pl-1 text-center">
        <div class="col-md-12 border p-1 font-weight-bold" *ngFor="let k of keys">
          {{capitalizeAndSpaceEach(k)}}
        </div>
      </div>
      <div class="col-md-6 py-1 pl-0 pr-1 text-center">
        <div class="col-md-12 border p-1 row m-0 text-center" *ngFor="let v of values">
          {{v}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="col-md-12 container px-0">
      <mat-grid-list cols="1" rowHeight="1:1">
        <mat-grid-tile matRipple class="mb-1 bg-success">
          <div class="col-md-12 text-center text-white">
            <div class="col-md-12">
              <small>
                Remaining Balance
              </small>
            </div>
            <div class="col-md-12 display-4">
              {{balancepending}}
            </div>
            <div *ngIf="balancepending > 0" class="col-md-12 py-2">
              <button mat-raised-button class="col-md-6 text-white bg-secondary" (click)="returnBalance()">
                Receive
              </button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile matRipple class="mb-1 bg-info">
          <div class="col-md-12 text-center text-white">
            <div class="col-md-12">
              <small>
                Remaining MT
              </small>
            </div>
            <div class="col-md-12 display-4">
              {{remainingmt}}
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>